server:
  port: 8080
  forward-headers-strategy: FRAMEWORK

spring:
  application:
    name: sf
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  thymeleaf:
    check-template-location: false
  datasource:
    url: jdbc:postgresql://localhost:5432/mes_dev
    username: postgres
    password: root
  security:
    jwt:
      token:
        key: {JWT Key}
    user:
      name: admin
      password: 1234
sf:
  entry:
    factoryId: 1000

# springdoc
springdoc:
  api-docs:
    path: /api-docs
    groups:
      enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    groups-order: ASC
    tags-sorter: alpha
    operations-sorter: alpha
    display-request-duration: true
    doc-expansion: none
  cache:
    disabled: true
  model-and-view-allowed: true